<div id="sidebar-container" class="bg-primary">

    <div class="menu">
        <div class="user-container">

            <div class="user-container_divider"  style="color:#FFFFFF">
                <h5>Access Lvl</h5>
                <h4>ADMIN</h4>
            </div>

        </div>
        <div class="navigation-container">
            <ul>
                <li style="color:#FFFFFF">
                    <a>Cursos</a>
                </li>
                <li style="color:#FFFFFF">
                    <a>Alumnos</a>
                </li>
            </ul>
        </div>

